# Utilities
numpy
pandas

# Face recognition
scikit-learn
dlib-bin

git+https://github.com/ageitgey/face_recognition_models
setuptools<82.0.0


supabase
bcrypt

segno 
pillow

streamlit


librosa
resemblyzer