starlette>=0.27.0,<0.36.0
streamlit>=1.31.0

# Utilities
numpy
pandas

# Face recognition
scikit-learn
dlib-bin

git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0


supabase
bcrypt

segno 
pillow



librosa
resemblyzer
